# Leitura de tabela em PDF

---
Ref: https://www.hashtagtreinamentos.com/ler-tabelas-em-pdf-com-python?gclid=CjwKCAjw3K2XBhAzEiwAmmgrAqzTRwZmLARIlz7UyF_HQIGr8yKkYhL_DwPL0BnvS_33lnN4SCDw4RoCL5QQAvD_BwE

Dados: http://www.vale.com/PT/investors/information-market/quarterly-results/ResultadosTrimestrais/Vale_IFRS_1T21_BRL_v26042021_vf.pdf

---

In [32]:
# Instalação das bibliotecas necessárias

#!pip install tabula
#!pip install tabula-py

In [33]:
import tabula
from tabula.io import read_pdf

In [34]:
# Leitura dos dados através do upload para o Google Colab (pag. 11)

pkg_dir = '/content'

lista_tabelas = tabula.read_pdf(f'{pkg_dir}/Vale_IFRS_1T21_BRL_v26042021_vf.pdf', pages="11")

# Obs: Existem os parâmetros lattice e guess na função read_pdf() caso necessário

WARNING:tabula.io:Got stderr: Aug 11, 2022 4:56:08 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 11, 2022 4:56:10 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'

In [35]:
# Verificando quantas tabelas foram encontradas

print(len(lista_tabelas))

2

In [36]:
# Print das tabelas

for tabela in lista_tabelas:
  display(tabela)

         US$ milhões     1T21      %     4T20    %.1     1T20    %.2
0  Minerais Ferrosos  608.000   60,3  763.000   52,8  627.000   55,8
1     Metais Básicos  359.000   35,6  566.000   39,2  352.000   31,3
2             Carvão   29.000    2,9   65.000    4,5   80.000    7,1
3   Energia e outros   13.000    1,3   50.000    3,5   65.000    5,8
4              Total    1.009  100,0    1.444  100,0    1.124  100,0

         US$ milhões  1T21      %  4T20    %.1  1T20    %.2
0  Minerais Ferrosos    82   53,9    69   47,9    91   62,8
1     Metais Básicos    68   44,7    55   38,2    52   35,9
2   Energia e outros     2    1,3    20   13,9     2    1,4
3              Total   152  100,0   144  100,0   145  100,0

In [37]:
# Lendo as tabelas da pag. 10

lista_tabelas2 = tabula.read_pdf(f'{pkg_dir}/Vale_IFRS_1T21_BRL_v26042021_vf.pdf', pages = '10')

print(len(lista_tabelas2))

WARNING:tabula.io:Got stderr: Aug 11, 2022 4:56:11 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 11, 2022 4:56:14 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'

1

In [38]:
# Neste caso, as 2 tabelas da pág. 10 são lidas como uma única tabela
# A linha de índice 11 é a próxima tabela, além das colunas indevidas

display(lista_tabelas2[0])

,Indicadores financeiros selecionados,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,R$ milhões,NaN,NaN,NaN,Variação percentual
1,NaN,1T21,4T20,1T20,1T21/4T20 1T21/1T20
2,"Receita de vendas, líquida",69.301,78.938,31.251,"-12,2% 121,8%"
3,Custos e despesas,(27.359),(35.434),(21.619),"-22,8% 26,6%"
4,Despesas relacionadas a Brumadinho,(637),(25.002),(708),"-97,5% -10,0%"
5,EBIT (LAJIR) ajustado,41.729,18.987,9.248,"119,8% 351,2%"
6,Margem EBIT ajustado (%),"60,2%","24,1%","29,6%","150,3% 103,5%"
7,EBITDA (LAJIDA) ajustado,45.741,23.492,12.924,"94,7% 253,9%"
8,Lucro líquido atribuído aos acionistas da Vale,30.564,4.825,984,"533,5% n.m."
9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN
11,Reconciliação LAJIDA,NaN,NaN,NaN,NaN
12,R$ milhões,NaN,1T21,NaN,4T20 1T20
13,Lucro líquido atribuído aos acionistas da Vale,NaN,30.564,NaN,4.825 984
14,Prejuízo atribuído aos acionistas não controla...,NaN,(375),NaN,(508) (347)
15,Lucro líquido,NaN,30.189,NaN,4.317 637
16,"Depreciação, exaustão e amortização",NaN,4.012,NaN,4.505 3.676
17,Tributos sobre lucro,NaN,9.950,NaN,1.014 (3.102)
18,Resultado financeiro,NaN,176,NaN,3.683 10.486
19,LAJIDA (EBITDA),NaN,44.327,13.519,11.697
20,Itens para reconciliação de LAJIDA (EBITDA) aj...,NaN,NaN,NaN,NaN
21,Redução ao valor recuperável e baixa de ativos...,NaN,NaN,NaN,NaN
22,NaN,NaN,897,NaN,7.815 136
23,circulantes,NaN,NaN,NaN,NaN
24,Resultado de participações e outros resultados...,NaN,NaN,NaN,NaN
25,NaN,NaN,93,NaN,1.673 767
26,e joint ventures,NaN,NaN,NaN,NaN
27,Dividendos recebidos e juros de coligadas e jo...,NaN,424,NaN,485 324
28,LAJIDA (EBITDA) ajustado,NaN,45.741,23.492,12.924

In [39]:
# Tratando a primeira tabela da lista 2

tabela = lista_tabelas2[0]
tabela.columns = tabela.iloc[0]
tabela[[0,1]] = tabela['Variação percentual'].str.split(" ", expand = True)
tabela = tabela[1:9]
tabela = tabela.set_index('R$ milhões')
tabela.columns = tabela.iloc[0]
tabela = tabela[1:]
tabela = tabela.drop('1T21/4T20 1T21/1T20', axis = 1)
display(tabela)

nan,1T21,4T20,1T20,1T21/4T20,1T21/1T20
R$ milhões,,,,,
"Receita de vendas, líquida",69.301,78.938,31.251,"-12,2%","121,8%"
Custos e despesas,(27.359),(35.434),(21.619),"-22,8%","26,6%"
Despesas relacionadas a Brumadinho,(637),(25.002),(708),"-97,5%","-10,0%"
EBIT (LAJIR) ajustado,41.729,18.987,9.248,"119,8%","351,2%"
Margem EBIT ajustado (%),"60,2%","24,1%","29,6%","150,3%","103,5%"
EBITDA (LAJIDA) ajustado,45.741,23.492,12.924,"94,7%","253,9%"
Lucro líquido atribuído aos acionistas da Vale,30.564,4.825,984,"533,5%",n.m.

In [57]:
# Tratando a segunda tabela da lista 2

tabela2 = lista_tabelas2[0]
tabela2.columns = tabela2.iloc[12]
#tabela2[[0,1]] = tabela2['4T20 1T20'].str.split(" ", expand = True)
tabela2 = tabela2[12:]
tabela2 = tabela2.set_index('R$ milhões')
tabela2.columns = tabela2.iloc[0]
tabela2 = tabela2[1:]
tabela2 = tabela2.drop('4T20 1T20', axis = 1)
tabela2 = tabela2.iloc[:,[1,3,4]]
display(tabela2)

R$ milhões                                            1T21    4T20     1T20
R$ milhões
Lucro líquido atribuído aos acionistas da Vale      30.564   4.825      984
Prejuízo atribuído aos acionistas não controlad...   (375)   (508)    (347)
Lucro líquido                                       30.189   4.317      637
Depreciação, exaustão e amortização                  4.012   4.505    3.676
Tributos sobre lucro                                 9.950   1.014  (3.102)
Resultado financeiro                                   176   3.683   10.486
LAJIDA (EBITDA)                                     44.327  11.697     None
Itens para reconciliação de LAJIDA (EBITDA) aju...     NaN     NaN      NaN
Redução ao valor recuperável e baixa de ativos não     NaN     NaN      NaN
NaN                                                    897   7.815      136
circulantes                                            NaN     NaN      NaN
Resultado de participações e outros resultados ...     NaN     NaN      NaN
NaN                                                     93   1.673      767
e joint ventures                                       NaN     NaN      NaN
Dividendos recebidos e juros de coligadas e joi...     424     485      324
LAJIDA (EBITDA) ajustado                            45.741  12.924     None